<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/home/pi/garden_services/smart_irrigation/templates/admin_page.html">
</head>
  <body>
    <section>
      <h1>ADMINISTRATION</h1>
    </section>
    <form method="POST" action="/configs">
      <label for="VALVE_TIME">VALVE_TIME (min):</label><br />
      <input type="number" id="VALVE_TIME" name="VALVE_TIME" /><br />
      <label for="PHOTO_TIME_INTERVAL">PHOTO_TIME_INTERVAL (min):</label><br />
      <input
        type="number"
        id="PHOTO_TIME_INTERVAL"
        name="PHOTO_TIME_INTERVAL"
      /><br />
      <label for="MOISTURE_SENSOR_INTERVAL"
        >MOISTURE_SENSOR_INTERVAL (hour):</label
      ><br />
      <input
        type="number"
        id="MOISTURE_SENSOR_INTERVAL"
        name="MOISTURE_SENSOR_INTERVAL"
      /><br />
      <label for="FROST_WARNING_THRESHOLD"
        >FROST_WARNING_THRESHOLD (Celsius):</label
      ><br />
      <input
        type="number"
        id="FROST_WARNING_THRESHOLD"
        name="FROST_WARNING_THRESHOLD"
      /><br />
      <label for="SENSOR_INPUTS">SENSOR_INPUTS (pin number):</label><br />
      <input type="number" id="SENSOR_INPUTS" name="SENSOR_INPUTS" /><br />
      <label for="VALVE_OUTPUTS">VALVE_OUTPUTS (pin number):</label><br />
      <input type="number" id="VALVE_OUTPUTS" name="VALVE_OUTPUTS" /><br />
      <input type="submit" value="Submit updated configs" />
    </form>
    <form method="GET" action="/water_now">
      <input type="submit" value="Water now" /><br />
    </form>
        <form method="GET" action="/http://192.168.1.38:5000/stop_water">
      <input type="submit" value="Stop watering" /><br />
    </form>
        <form method="GET" action="/get_sensor_now">
      <input type="submit" value="Get current sensor data" /><br />
    </form>
        <form method="GET" action="http://192.168.1.38:5000/camera">
      <input type="submit" value="Get current footage of Garden!" /><br />
    </form>
  </form>
    <form method="GET" action="http://192.168.1.38:5000/chart">
    <input type="submit" value="Show Temperature Chart" /><br />
  </form>
  </body>
</html>